<div class="row justify-content-center">
  <div class="section-header text-center">
    <h2 class="title">User</h2>
  </div>

  <p>
    <strong>Name:</strong>
    <%= @user.full_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.email %>
  </p>

  <% if @user.organizations.present? %>
  <p>
    <strong>Organization:</strong>
    <%= @user.organizations.first.name %>
  </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @user.full_name %>
  </p>
</div>
