<h1>News</h1>
<%= render 'search_aritcle_form' %>
<div>

  <%#@filter ? @all_articles_filterd : @all_articles.each do |article| %>
  <% @filtered_article_arr.each do |article| %>
   <%# puts "=========================erb===========" %>
  <%# puts article %>
        <h5><a href="<%=article.url%>"><%= article.title%></a></h5>
  <% end %>
</div>
